/* 
>>--------->>->>--------->>
    CONTACTS CSS
>>--------->>->>--------->>
*/

#contactWrapper {
  text-align: center;
}

.detailsContainer {
  border: #fff solid 2px;
}

.contactLabels {
  margin: 50px 0px 15px 0px;
  font-size: 24px;
}

#formContainer {
  border-radius: 25px;
  padding-left: 70px;
  padding-right: 70px;
  background: rgba(0, 0, 0, 0.6);
}

#contactDetails {
  border: 3px solid #fff;
}

#submitButton {
  border:3px solid #fff;
  margin: 20px 0px ;
}
