:root {
  --TextColor:#fff;
  --ThemeColor:rgb(0, 204, 255);
}

.hide {
  display: none;
}

* {
  color: white;
}

.appWrapper {
  text-align: center;
}

.darkModeText {
  color: #fff;
}

.opacity {
  opacity: 0.4;
}

.moreSpace {
  padding: 100px 0px;
}

.bodyText {
  font-size: 24px;
  color: #fff;
}

.pageHeader {
  font-size: 36px;
}

#heroimg {
  /* background-image: url(./Assets/images/ivan-bandura-aeuAn9A6rvY-unsplash.jpg); */
  height: 300vh;
  background-repeat: no-repeat;
  object-fit: fill;
}

/* 
>>--------->>->>--------->>
    Navigation CSS
>>--------->>->>--------->>
*/
.homeTitle {
  font-size: 2em;
}

.navbarText {
  padding: 0px 10px;
  font-size: 20px;
  color: white;
}

.navbarText a:hover {
  color:rgb(0, 204, 255);
}

.navLink {
  text-decoration: none;
  color: #fff;
}

.currentPage {
  text-decoration: none;
  color:rgb(0, 204, 255);
}

.navbar-nav {
  align-items: center;
}

.navbar-toggler {
  background-color: rgb(255, 255, 255);
}

.navbar-toggler-icon {
  color: black;
  border-color: black;
}

#navHeader {
  background: rgba(0, 0, 0, 0.35);
}

/* 
>>--------->>->>--------->>
    HomePage CSS
>>--------->>->>--------->>
*/

#homeHeader {
  margin: 30px;
}

#keyProjectContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#keyProjectBox {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 800px;
  border-radius: 5px;
}

#keyProjectImg {
  display: block;
  width:100%;
  border-radius: 5px;
}

/* 
>>--------->>->>--------->>
    About Me CSS
>>--------->>->>--------->>
*/

#aboutPhoto {
  border-radius: 100%;
  margin-top: 15vh;
  max-width: 100%;
  height: auto;
}

#aboutMeDescr {
  line-height: 2;
  font-size: 1.25em;
}

/* 
>>--------->>->>--------->>
    Projects CSS
>>--------->>->>--------->>
*/
.projectImg {
  height: 100%;
  display: block;
  position: relative;
  object-fit: cover;
  border-radius: 5px;
}

.projectBox {
  border: none;
  background: rgba(0, 0, 0, 0.85);
}

.projectsContainer {
  flex-wrap: wrap;
}

.imageOverlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
  border-radius: 5px;
}

.imageOverlay > * {
  transform: translateY(20px);
  transition: transform 0.3s;
}

.imageOverlay:hover {
  opacity: 1;
}
.imageOverlay:hover > * {
  transform: translateY(0);
}

.appButtons {
  margin:0 1em 0.8em 0;
  max-width: 200px;
  max-height: 100px;
}

.projectBttn:hover {
  transition: 0.3s;
  border: none;
  background-color:rgb(0, 204, 255);
}
/* 
>>--------->>->>--------->>
    Resume & Skills CSS
>>--------->>->>--------->>
*/

#subtitle {
  font-size: 1.3em;
}

#downloadBttn {
  width: 200px;
  margin-top: 10px;
}
.resumeDownload {
  margin: 10px 0px;
  width: 100%;
}

#skillsContainer {
  aspect-ratio: 6/5;
  align-content: center;
  align-items: center;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.6);
  flex-wrap: wrap;
}

#resumeContainer {
  border: 3px solid #fff;
  border-radius: 10%;
}

.resumeIcon {
  margin:25px;
  max-width: 100%;
  height: auto;
}
.resumeIcon img {
  max-width: 100%;
  height: auto;
}

.wrapper img:hover {
  box-shadow:
    0 0 10px var(--ThemeColor),
    0 0 20px var(--ThemeColor),
    0 0 40px var(--ThemeColor),
    0 0 80px var(--ThemeColor),
    0 0 120px var(--ThemeColor);
}

/* 
>>--------->>->>--------->>
    CONTACTS CSS
>>--------->>->>--------->>
*/

.detailsContainer {
  border: #fff solid 2px;
}

.contactLabels {
  margin: 50px 0px 15px 0px;
  font-size: 24px;
}

#formContainer {
  border-radius: 25px;
  padding-left: 70px;
  padding-right: 70px;
  background: rgba(0, 0, 0, 0.6);
}

#contactDetails {
  border: 3px solid #fff;
}

#submitButton {
  border:3px solid #fff;
  margin: 20px 0px ;
}

/* 
>>--------->>->>--------->>
    SIDEBAR  CSS 
>>--------->>->>--------->>
*/

#sideBar {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

li {
  list-style: none;
}


/* 
>>--------->>->>--------->>
    FOOTER  CSS 
>>--------->>->>--------->>
*/

#wLove {
  white-space: pre;
}

/* 
>>--------->>->>--------->>
    REACT STANDARD CSS 
>>--------->>->>--------->>
*/
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
