:root {
  --darkThemeColor:rgb(0, 204, 255);
  --darkModeText:rgb(255, 255, 255);
  --darkModeBackground:rgb(0, 7, 31);
  --lightThemeColor:rgb(0, 11, 109);
  --lightModeText:rgb(255, 255, 255);
  --lightModeBackground:rgb(246, 255, 206);
}

.hide {
  display: none;
}

/* * {
  color: rgb(0, 7, 31);
} */

* {
  color: white;
}

.opacity {
  opacity: 0.4;
}

.moreSpace {
  padding: 100px 0px;
}

.bodyText {
  font-size: 24px;
  color: #fff;
}

.pageHeader {
  font-size: 36px;
  color: var(--DarkModeText);
}

/* 
>>--------->>->>--------->>
    Theme CSS
>>--------->>->>--------->>
*/
.themeContainer {
  border: 2px;
  border-color: #fff;
  padding: 8px;
  margin: 10px;
  border-radius: 50%;
}


/* 
>>--------->>->>--------->>
    Navigation CSS
>>--------->>->>--------->>
*/
.homeTitle {
  font-size: 2em;
}

.navbarText {
  padding: 0px 10px;
  font-size: 20px;
  color: white;
}

.navbarText a:hover {
  color:rgb(0, 204, 255);
}

.navLink {
  text-decoration: none;
  color: #fff;
}

.currentPage {
  text-decoration: none;
  color:rgb(0, 204, 255);
}

.navbar-nav {
  align-items: center;
}

.navbar-toggler {
  background-color: rgb(255, 255, 255);
}

#navBarToggler button {
  position: absolute;
  left: 10px;
  top: 10px;
}

.navbar-toggler-icon {
  color: black;
  border-color: black;
}

#navHeader {
  background: rgba(0, 0, 0, 0.75);
}


/* #heroimg {
  background-image: url('../public/assets/images/backgroundImage/ivan-bandura-aeuAn9A6rvYTop-unsplash.jpg');
  height: 300vh;
  width: 100vw;
  position: sticky;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover
} */