.App {
  text-align: center;
}

.opacity {
  opacity: 0.4;
}

#heroimg {
  /* background-image: url(./Assets/images/ivan-bandura-aeuAn9A6rvY-unsplash.jpg); */
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
}

#ContactForm {
  padding: 100px 0px;
}

#aboutPhoto {
  border-radius: 100%;
  padding: 100px 0px;
}

/* Font Styles */
.homeHeader {
  font-size: 1.5rem;
}

.app-text {
  font-size: 30px;
}

.darkModeText {
  color: white;
}

.navbar-text {
  padding: 0px 10px;
}

.footer {
  position:absolute;
  bottom: 0;
}



/* 
>>--------->>->>--------->>
    REACT STANDARD CSS 
>>--------->>->>--------->>
*/
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
